.popup__container {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    min-height: 330px;
    align-self: center;
    z-index: 9;
}

@media screen and (max-width: 767px) {
    .popup__container {
        max-width: 282px;
    }
}